<h1>Restaurants</h1>
<ol>
  <% @restaurants.each do |restaurant| %>
    <li><%= restaurant.name %> <%= link_to "more", restaurant_path(restaurant.id) %> <%= link_to "delete", restaurant_destroy_path(restaurant.id), method: :delete, data: { confirm: "Are you sure?" } %></li>
  <% end %>
</ol>

<%= link_to "Create a new restaurant", restaurants_new_path %>


<form action='/answer' method="post">
